# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static and Media
staticfiles/
# If you track static source files, do not ignore 'static/'. Only ignore the collected static root.

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
